{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'not-front page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>

  <style>

    /********************************* GLOBAL **************************************/
    * {
      font-size: 14px !important;
    }

    .social-media {
      margin-top: -5px;
    }

    .flex-viewport {
      max-height: 61em;
    }

    .site-branding__slogan {
      margin-top: 1px;
      margin-left: 5px;
      font-size: 10px !important;
      color: rgb(253, 139, 130);
    }

    /******************************** Copyright ************************************/
    .copyright {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: whitesmoke;
      text-align: center;
    }

    /********************************** Search *************************************/
    input[value="Search"],
    input[value="Search"]:hover {
      color: transparent;
    }

    /***************************** Titre actualité *********************************/
    h1 > span {
      font-size: 1.5em !important;
    }

    #page-title {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }

    /********************************* Submitted ***********************************/
    .comment-submitted {
      display: block;
      text-align: center;
      border: none;
    }

    /*******************************************************************************/

    /*
      ## Device = Desktops
      ## Screen = 1281px to higher resolution desktops
    */
    @media (min-width: 1281px) {

    }

    /*
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */

    @media (min-width: 1025px) and (max-width: 1280px) {
      .flex-viewport {
        max-height: 35em;
      }

      * {
        font-size: 12px !important;
      }
    }

    /*
      Device = Tablets, Ipads (portrait)
      Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) {

    }

    /*
      Device = Tablets, Ipads (landscape)
      Screen = B/w 768px to 1024px
    */

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    }

    /*
      Device = Low Resolution Tablets, Mobiles (Landscape)
      Screen = B/w 481px to 767px
    */

    @media (min-width: 481px) and (max-width: 767px) {

    }

    /*
      Device = Most of the Smartphones Mobiles (Portrait)
      Screen = B/w 320px to 479px
    */

    @media (min-width: 320px) and (max-width: 480px) {

    }
  </style>

</html>
