<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="weather"> 
                {{ form_aturocomplete_villes }}  
            </div>
            <div class="weather">     

                <div class="bg-warning text-center day villeTitre">
                    <span>{{ city }}</span>   
                </div> 
                               
                <div class="current">
                    <div class="info">
                        <div>&nbsp;</div>              
                        <div class="city">{{ descriptif }}</div>          
                        <div class="temp">{{ temperature }}&deg; <small>C</small></div>
                        <div class="wind">{{ vent }} km/h</div>
                        <div>&nbsp;</div>
                    </div>
                    <div class="icon">
                        <span class="wi-day-sunny">
                            <img src="{{ icon }}" height="110" />
                        </span>
                    </div>
                </div>
                {% if boutonsAfficher |length > 0 %}
                    <div class="future" id="div-periodes">
                        
                        {% if 'actuelle' in boutonsAfficher %}
                            <div class="day bg-warning moment-actif" data-periode="actuelle">
                                <h3>Actuelle</h3>
                                <p><span class="wi-day-cloudy"></span></p>
                            </div>
                        {% endif %}

                        {% if 'matin' in boutonsAfficher %}
                            <div class="day bg-warning" data-periode="matin">
                                <h3>Matin</h3>
                                <p><span class="wi-day-cloudy"></span></p>
                            </div>
                        {% endif %}

                        {% if 'apres-midi' in boutonsAfficher %}
                            <div class="day bg-warning" data-periode="apres-midi">
                                <h3>Après-midi</h3>
                                <p><span class="wi-showers"></span></p>
                            </div>
                        {% endif %}

                        {% if 'soir' in boutonsAfficher %}
                            <div class="day bg-warning" data-periode="soir">
                                <h3>Soir</h3>
                                <p><span class="wi-rain"></span></p>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>


            

        </div>
    </div>
</div>

<style>
    .moment-actif {
        background-color: #F68D2E;
    }
</style>